.hide,.cloak div,.cloak span,.likert.cloak tbody,.likert.cloak thead{display:none !important}.likert.cloak table{border:none}
#Field11 {
	width:70%;
	height:200px;
}
#socialrow {
	padding:20px 5px;
}
#socialrow a img:hover {
  -webkit-filter: brightness(108%);
  transition: opacity .55s ease-in-out;
 -moz-transition: opacity .55s ease-in-out;
 -webkit-transition: opacity .55s ease-in-out;
}
#menu a:hover {
	color: #FFFFFF;
	text-shadow: 0px 0.5px 0.5px #181818;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;	
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;		
}
#menu .pure-menu-heading {
	text-shadow: 1px 1px #707070;
}
#menu .pure-menu-heading:hover {
	text-shadow: 1.1px 1.1px #111111;	
}
body {
background-color: #F8F8F8
}

h1 {
	color:#1F8DD6;
}

a {
 	color: orange;
 	text-decoration: none;
 }

a:hover {
	color:#EE7600;
}
