<nav>
    <ul class="pure-menu-list">
        {% assign url = page.url|remove:'index.html' %}
        {% for link in site.navigation %}
            {% assign state = '' %}
            {% if page.url == link.url %}
                {% assign state = 'active ' %}
            {% endif %}
            <li class="{{ state }} pure-menu-item">
                <a href="{% if page.url == link.url %}{{ site.baseurl }}{% else %}{{ site.baseurl }}{{ link.url }}{% endif %}">{{ link.text }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>