<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ page.title }}</title>
    <meta name="description" content="I'm a web marketing professional and photographer based in upstate New York. Learn more about me and my work.">

		<link rel="stylesheet" type='text/css' href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>    


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type='text/css' href="css/side-menu.css">
    <!--<![endif]-->  
    <link rel="stylesheet" type='text/css' href="css/main.css">  
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PMJW5Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMJW5Q');</script>
<!-- End Google Tag Manager -->

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    	<div id="menu">
	        <div class="pure-menu pure-menu-open">
	            <a class="pure-menu-heading" href="index.html">Timothy<br />
	                <span class="larger-letter">J</span>ensen</a>            
	            <ul>
	                <li><a href="photography.html">Photography</a></li>
	                <li><a href="web-strategy.html">Web Strategy</a></li>                
	                <li><a href="web-projects.html">Web Projects</a></li>
	                <li><a href="contact.html">Contact</a></li>
	            </ul>
	        </div>
	        <div id="socialrow">
	            <a href="https://www.flickr.com/photos/timothyjj" target="_blank">
	                <img src="img/flickr.png"></a>
	            <a href="https://twitter.com/timothyjjensen" target="_blank">
	                <img src="img/twitter.png"></a>
	            <a href="https://www.linkedin.com/in/timothyjjensen" target="_blank">
	                <img src="img/linkedin.png">
	            </a>
	        </div>        
    	</div>
    	<div id="main">
			
			{{ content }}
			
	</div>
			
</div>
<script src="js/ui.js"></script>
</body>
</html>
